<br/>
<h1>Services</h1>
<br/>


<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <%= image_tag(asset_path("carpet.png"), :alt => "Carpet cleaning", class: "card-img-top") %>
                <h5 class="card-title">
                    <br/>
                    Carpet cleaning
                </h5>
                <%# <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> %>
                <p class="card-text">
                    - Improved Indoor Air Quality
                    <br/>
                    - Prolongs Carpet Life
                    <br/>
                    - Prevents Mold and Mildew
                    <br/>
                    - Enhances Aesthetic Appeal
                    <br/>
                    - Eliminates Odorsz
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <%= image_tag("rug.png", :alt => "Cleaning rugs", class: "card-img-top") %>
                <h5 class="card-title">
                    <br/>
                    Rug area cleaning
                </h5>
                <%# <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> %>
                <p class="card-text">
                    - Healthier Indoor Environment
                    <br/>
                    - Stain Removal and Prevention
                    <br/>
                    - Prolonged Rug Lifespan
                    <br/>
                    - Allergen Reduction
                    <br/>
                    - Improved Aesthetic Appearance
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <%= image_tag("sectional.png", :alt => "Sectional cleaning", class: "card-img-top") %>
                <h5 class="card-title">
                    <br/>
                    Sectional cleaning
                </h5>
                <%# <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> %>
                <p class="card-text">
                    - Enhanced Indoor Air Quality
                    <br/>
                    - Stain and Spill Removal
                    <br/>
                    - Preservation of Fabric Quality
                    <br/>
                    - Odor Elimination
                    <br/>
                    - Aesthetic Refreshment
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <%= image_tag("sofa.jpg", :alt => "Sofa cleaning", class: "card-img-top") %>
                <h5 class="card-title">
                    <br/>
                    Sofa cleaning
                </h5>
                <%# <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> %>
                <p class="card-text">
                    - Healthier Living Environment
                    <br/>
                    - Extended Furniture Lifespan
                    <br/>
                    - Removal of Allergens and Bacteria
                    <br/>
                    - Improved Appearance and Freshness
                    <br/>
                    - Prevention of Stains and Damage
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 24rem;">
            <div class="card-body">
                <%= image_tag("chair.jpg", :alt => "Stairs cleaning", class: "card-img-top") %>
                <h5 class="card-title">
                    <br/>
                    Chair cleaning
                </h5>
                <%# <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> %>
                <p class="card-text">
                    - Hygienic Living Space
                    <br/>
                    - Prolonged Chair Durability
                    <br/>
                    - Allergen and Dust Removal
                    <br/>
                    - Renewed Aesthetic Appeal
                    <br/>
                    - Odor Elimination
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:24rem;">
            <div class="card-body">
                <%= image_tag("mattress.png",:alt=>"Mattresscleaning",class:"card-img-top")%>
                <h5 class="card-title">
                    <br/>
                    Mattress cleaning
                </h5>
                <%#<h6class="card-subtitlemb-2text-body-secondary">Cardsubtitle</h6>%>
                <p class="card-text">
                    - Healthier Sleep Environment
                    <br/>
                    - Dust and Allergen Removal
                    <br/>
                    - Prolonged Mattress Lifespan
                    <br/>
                    - Elimination of StainsandOdors
                    <br/>
                    - Improved Sleep Quality
                </p>
            </div>
        </div>
    </div>
</div>

<br/>
<h1>Reviews</h1>
<br/>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        Swift and Impeccable

    </h4>
    <p>I've recently contacted Steam Kingz team, as I was desperate to find anyone that would clean my carpet and upholstery in a fast, timely and efficient manner since I was in the middle of selling my property. I was positively surprised when the owner Mike understood to level of urgency and sent a crew team without hesitation. They came in fully prepared with modern and new equipment and executed the task flawlessly. The pricing was not impacted by the urgency and was extremely affordable. I've provided  small tip showing my appreciation for their above and beyond support and I plan to continue using their services regularly, since they have ability to steam clean mattresses, unique furniture, carpets, etc. I highly recommend Steam Kingz team - you'll be absolutely satisfied and grateful for their service.
        <br/>
        <br/>
        - Nenad L.
    </p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        Prompt, Professional and Precise
        <br/>


    </h4>
    <p>Mike arrived immediately because we had an emergency basement flood. He was on time, polite, informed, and well-mannered. He completed excellent work at a very reasonable cost and was very specific about what he believed needed to be done. The work was completed thoroughly and expeditiously. Strongly advised.
        <br/>
        <br/>
        - Marija B.
    </p>
</div>

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        Exceeded Expectations

    </h4>
    <p>I used the service to clean my couch that had 5 years of built up stains.  I'm very impressed with how good my couch looks now after Mike did the deep steam cleaning. It looks like it's new again. He was very professional, quick and the job was done at a very reasonable price.  I would recommend Steam Kingz.

        <br/>
        <br/>
        - Daniel V.
    </p>
</div>
